* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (hover: none) {
    *:hover {
        background-color: inherit;
        color: inherit;
        transform: inherit;
        box-shadow: inherit;
    }
}

body {
    display: flex;
    flex-direction: column;
}

:root {
    --secondary-color: #ECF2FF;
    --heading-color: #000000;
    --text-color: #677788;
    --accent-color: #2476FF;
    font-family: inter;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color)
}

/*Header*/

.header {
    background-color: #F6F8FA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 30px;
    align-items: center;
    height: 86px;
}

.logo {
    display: block;
    min-width: 150px;
    max-width: 150px;
    height: auto;
}

.navbar a {
    margin: 0 10px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--accent-color);
}

.navbar a.active {
    color: var(--accent-color);
}

.navbarbtn {
    background-color: var(--accent-color);
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 30px;
    padding: 15px 25px;
    margin: 0 20px;
}

.navbarbtn:hover {
        background-color: white;
        color: var(--accent-color);
}

.hamburger {
    font-size: larger;
    color: var(--text-color);
}

/*Header Responsive*/

@media screen and (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .navbar a,
    .navbarbtn {
    display: none;
    }
}

/*Hero Section*/ 

.herosection {
    display: flex;
    flex-direction: row;
    height: 446px;
    width: 100%;
    background-image: url(../assets/bg/background-top.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.herocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 0 2.5% 60px 2.5%;
    gap: 15px;
}

.heroheader h1 {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    max-width: 334px;
}

.herobtns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

button.playvideobtn {
    background-color: var(--accent-color);
    color: white;
    font-weight: 700;
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 30px;
    padding: 15px 25px;
}

button.playvideobtn:hover {
    background-color: white;
    color: var(--accent-color);
}

.fa-play-circle {
    scale: 1.4;
    padding-right: 7px;
}

.herobtns a {
    margin: 0 10px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.herobtns a:hover {
    color: var(--accent-color);
}

.heroimages {
    height: 446px;
    min-height: 446px;
    width: 50vw;
    position: relative;
}

@keyframes slideup {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 1024px) {
.imgwrapperpaypal, 
.imgwrapperatlassian, 
.imgwrapperweave {
    animation: slideup 2s ease-in-out 1 0s forwards;
}

@keyframes slide-left {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}

.imgwrappergoogle, 
.imgwrappergoogle-ads, 
.imgwrapperasana, 
.imgwrappercalendar {
    animation: slide-left 2s ease-in-out 1 0s forwards;
}
}
.imgwrappergoogle {
    position: absolute;
    top: 11%;
    left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrappergoogle img {
    height: 67%;
    width: 67%;
}

.imgwrapperasana {
    position: absolute;
    top: 11%;
    left: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrapperasana img {
    height: 67%;
    width: 67%;
}

.imgwrapperatlassian {
    position: absolute;
    top: 11%;
    left: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrapperatlassian img {
    height: 67%;
    width: 67%;
}

.imgwrappercalendar {
    position: absolute;
    top: 78%;
    left: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrappercalendar img {
    height: 67%;
    width: 67%;
}

.imgwrappergoogle-ads {
    position: absolute;
    top: 74%;
    left: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrappergoogle-ads img {
    height: 67%;
    width: 67%;
}

.imgwrapperpaypal {
    position: absolute;
    top: 48%;
    left: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrapperpaypal img {
    height: 67%;
    width: 67%;
}

.imgwrapperweave {
    position: absolute;
    top: 48%;
    left: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.5);
}

.imgwrapperweave img {
    height: 67%;
    width: 67%;
}

/*Hero Responsive*/

@media screen and (max-width: 1023px) {
    .herosection {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .herocontent {
        width: 100vw;
    }

    .heroheader h1 {
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }

    .herotext {
        justify-content: center;
        text-align: center;
    }

    .herobtns {
        justify-content: center;
    }

    .heroimages {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .heroheader h1 {
        font-size: 26px;
    }
}

/*About Section*/

.bulletsectionmobile {
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.bulletsmobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

.bullettextmobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
}

@media screen and (min-width: 768px) {
    .bulletsectionmobile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .bulletsection {
        display: none;
    }
}

.aboutsection {
    display: flex;
    flex-direction: column;
}

.aboutheader h2 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.abouttext {
    padding: 20px;
    text-align: center;
}

.bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.bulletwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: var(--secondary-color);
    border-style: solid;
}

.bulletpoint {
    background-color: var(--accent-color);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border-color: var(--accent-color);
    border-style: solid;
}

.bullettext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}

.bulletitem p {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/*Pricing Section*/

.pricingsection {
    display: flex;
    flex-direction: column;
    margin: 100px 30px;
}

.pricingheader {
    color: black;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.pricingsubheader {
    text-align: center;
}

.pricingdetails {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 450px;
    justify-content: center;
    gap: 50px;
}

.pricingcard {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding: 40px;
    gap: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #E2E2E2;
    transform: scale(1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: none;
}

.pricingcard:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1023px) {
    .pricingcard {
        width: 90vw;
        max-width: 1000px;
        align-items: center;
    }
    .pricingdetails {
        max-height: fit-content;
    }
    .pricingfeatures {
        margin-top: 50px;
    }
}

.pricecardprice {
    margin-bottom: 10px;
    font-size: 20px;
}

.price {
    font-size: 50px;
    font-weight: 500;
    color: black;
}

.pricecardtext {
    margin-top: 10px;
}

.pricingcard .playvideobtn {
    margin-top: 30px;
    width: 150px;
}

.pricecarddisclaimer {
    font-size: 12px;
}

.pricingfeatures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 560px;
}

.pricingfeature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 280px;
    padding: 20px;
}

.pricingfeature img {
    height: 50px;
    width: 50px;
}

.pricingfeature h3 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.sketch {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #01C9A7;
    width: 60px;
    height: 23px;
    padding: 4px 10px;
    border-radius: 15px;
    margin-left: 10px;
}

/*Hire Us Section*/
.hireussection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 708px;
    background-color: #20335B;
    padding: 30px;
}

/*Hire Us CTA*/
.hireuscta {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    margin-top: 60px;
}

.ctatag {
    margin-bottom: 60px;
}

.hireuscta h2 {
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hireustagline {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 34px;
}

.hireusquote {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 32px;
}

@media screen and (max-width: 1023px) {
    .hireussection {
        flex-direction: column;
        max-height: fit-content;
        padding: 60px 30px;
    }
    .hireuscta {
        flex-direction: row;
    }
    .ctatag {
        margin-right: 60px;
    }
    .hireuscta {
        margin-top: 0px;
    }
    .hireusform {
        align-self: center;
        max-width: 90vw;
        width: 90vw;
    }
    form button {
        align-self: center;
        justify-self: center;
    }
    .footerrow1 div {
        margin-right: 60px;
    }
    .footerrow2 div {
        margin-right: 60px;
    }
}

@media screen and (max-width: 767px) {
    .ctatag {
        margin: 0px 0px 60px 0px;
    }
    .hireuscta {
        flex-direction: column;
        margin: 0px;
        text-align: center;
    }
    .ctaattribute {
        margin-bottom: 60px;
    }
    .firstnamelastname {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    input#firstname {
        min-width: 100%;
    }
    input#lastname {
        min-width: 100%;
    }
    .formselections {
        flex-wrap: wrap;
    }
    select#budget {
        min-width: 100%;
    }
    select#country {
        min-width: 100%;
    }
}

.hireuscta h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: white;
    margin-bottom: 10px;
}

.jobtitle {
    font-weight: 500;
    margin-bottom: 20px;
}

.quoteimgwrapper img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

/*Hire Us Form*/
.formheading {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.hireusform {
    background-color: white;
    padding: 30px;
    border: solid;
    border-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

input {
    font-family: inter;
    font-weight: 500;
    color: #828282;
    height: 44px;
    opacity: 1;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E6E8F2;
}

input#email {
    width: 100%;
}

input#firstname {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

input#lastname {
    width: 47.5%;
}

input#message {
    width: 100%;
    height: 100px;
}

select {
    width: 47.5%;
    font-family: inter;
    font-weight: 500;
    color: black;
    height: 44px;
    opacity: 1;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E6E8F2;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-family: inter;
    font-weight: 500;
    color: #828282;
    height: 150px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E6E8F2;
    margin-bottom: 20px;
}

select#budget {
    margin-right: 5%;
}

input#emailoptin {
    width: 25px;
    height: 24px;
    opacity: 1;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #E6E8F2;
}

.formfooter {
    display: flex;
    flex-direction: row;
}

.formfootertext {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.privacypolicylink {
    margin-top: 10px;
    margin-bottom: 35px;
}

.privacypolicylink a {
    font-weight: 700;
    color: #677788;
    text-decoration: underline dashed;
}

.privacypolicylink a:hover {
    color: var(--accent-color);
}

form button {
    text-align: center;
}

.firstnamelastname {
    display: flex;
    flex-direction: row;
}

.formselections {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
}

/*Footer*/

@media screen and (max-width:767px) {
    footer {
        flex-wrap: wrap;
        max-height: none;
        text-align: center;
    }
    .footerrow1 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerrow2 {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerrow1 div {
        margin: 0px 60px;
    }
    .footerrow2 div {
        margin: 0px 60px;
    }
}

footer {
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 40px 30px;
    gap: 40px;
    justify-content: center;
}

.footerlogo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 18px;
    font-weight: 860;
    color: black;
    margin-bottom: 20px;
}

footer p {
    font-weight: 510px;
    color: var(--text-color);
    margin-bottom: 9px;
}

footer p:hover {
    color: var(--accent-color);
    cursor: pointer;
}

footer a {
    font-weight: 510px;
    color: var(--text-color);
    margin-bottom: 9px;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.hiring {
    background-color: #2576ff;
    color: white;
    font-size: 8px;
    width: 55;
    height: 14;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-radius: 3px;
}

.footerrows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.footerrow1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footerrow2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footerrow1 div {
    min-width: 145px;
}

.footerrow2 div {
    min-width: 145px;
}

